
<div *ngIf="notification">
    <h2><span>Notification</span> {{notification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Est Lu</span></dt>
        <dd>
            <span>{{notification.estLu}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{notification.type}}</span>
        </dd>
        <dt><span>Custom Sujet</span></dt>
        <dd>
            <span>{{notification.customSujet}}</span>
        </dd>
        <dt><span>Custom Contenu</span></dt>
        <dd>
            <span>{{notification.customContenu}}</span>
        </dd>
        <dt><span>Custom Url</span></dt>
        <dd>
            <span>{{notification.customUrl}}</span>
        </dd>
        <dt><span>User And Preference</span></dt>
        <dd>
            <div *ngIf="notification.userPreferenceId">
                <a [routerLink]="['/user-and-preference-webae', notification.userPreferenceId]">{{notification.numCompteExterne}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'notification-webae/'+ notification.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
