<div>
    <h2>
        <span>Tauxes</span>
        <button class="btn btn-primary float-right jh-create-entity create-taux" [routerLink]="['/', { outlets: { popup: ['taux-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Taux
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tauxes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let taux of tauxes ;trackBy: trackId">
                <td><a [routerLink]="['../taux', taux.id ]">{{taux.id}}</a></td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../taux', taux.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'taux/'+ taux.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'taux/'+ taux.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
