<div>
    <h2>
        <span>Demandes</span>
        <button class="btn btn-primary float-right jh-create-entity create-demande-webae" [routerLink]="['/', { outlets: { popup: ['demande-webae-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Demande
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="demandes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Etat D Avance</span></th>
            <th><span>Type Demande</span></th>
            <th><span>User And Preference</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let demande of demandes ;trackBy: trackId">
                <td><a [routerLink]="['../demande-webae', demande.id ]">{{demande.id}}</a></td>
                <td>{{demande.etatDAvance}}</td>
                <td>{{demande.typeDemande}}</td>
                <td>
                    <div *ngIf="demande.userPreferenceId">
                        <a [routerLink]="['../user-and-preference-webae', demande.userPreferenceId  ]" >{{demande.numCompteExterne}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../demande-webae', demande.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'demande-webae/'+ demande.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'demande-webae/'+ demande.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
