<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDemandeLabel">Create or edit a Demande</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!demande.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="demande.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_etatDAvance">Etat D Avance</label>
            <select class="form-control" name="etatDAvance" [(ngModel)]="demande.etatDAvance" id="field_etatDAvance" >
                <option value="ENVOYEE">ENVOYEE</option>
                <option value="EN_COURS">EN_COURS</option>
                <option value="EN_ATTENTE">EN_ATTENTE</option>
                <option value="FINALISEE">FINALISEE</option>
                <option value="PROBLEM">PROBLEM</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_typeDemande">Type Demande</label>
            <select class="form-control" name="typeDemande" [(ngModel)]="demande.typeDemande" id="field_typeDemande" >
                <option value="ADHESION_STATUT">ADHESION_STATUT</option>
                <option value="SOUSCRIPTION_ACCRE">SOUSCRIPTION_ACCRE</option>
                <option value="EIRL">EIRL</option>
                <option value="MODIFICATION_ACTIVITE">MODIFICATION_ACTIVITE</option>
                <option value="CESSATION_ACTIVITE">CESSATION_ACTIVITE</option>
                <option value="DELAI_PAIEMENT">DELAI_PAIEMENT</option>
                <option value="FORMATION">FORMATION</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_userPreference">User And Preference</label>
            <select class="form-control" id="field_userPreference" name="userPreference" [(ngModel)]="demande.userPreferenceId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userPreferenceOption.id" *ngFor="let userPreferenceOption of userandpreferences; trackBy: trackUserPreferenceById">{{userPreferenceOption.numCompteExterne}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
