<div>
    <h2>
        <span>User Devices</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-device-webae" [routerLink]="['/', { outlets: { popup: ['user-device-webae-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new User Device
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userDevices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Device Token</span></th>
            <th><span>Type Device</span></th>
            <th><span>User And Preference</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userDevice of userDevices ;trackBy: trackId">
                <td><a [routerLink]="['../user-device-webae', userDevice.id ]">{{userDevice.id}}</a></td>
                <td>{{userDevice.deviceToken}}</td>
                <td>{{userDevice.typeDevice}}</td>
                <td>
                    <div *ngIf="userDevice.userPreferenceId">
                        <a [routerLink]="['../user-and-preference-webae', userDevice.userPreferenceId  ]" >{{userDevice.numCompteExterne}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-device-webae', userDevice.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-device-webae/'+ userDevice.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-device-webae/'+ userDevice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
