<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLastConnectionLabel">Create or edit a Last Connection</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lastConnection.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lastConnection.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_actuelConnection">Actuel Connection</label>
            <div class="d-flex">
                <input id="field_actuelConnection" type="datetime-local" class="form-control" name="actuelConnection" [(ngModel)]="lastConnection.actuelConnection"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastConnection">Last Connection</label>
            <div class="d-flex">
                <input id="field_lastConnection" type="datetime-local" class="form-control" name="lastConnection" [(ngModel)]="lastConnection.lastConnection"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_typeDeveice">Type Deveice</label>
            <select class="form-control" name="typeDevice" [(ngModel)]="lastConnection.typeDevice" id="field_typeDeveice" >
                <option value="IOS">IOS</option>
                <option value="ANDROID">ANDROID</option>
                <option value="WEB">WEB</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_userPreference">User And Preference</label>
            <select class="form-control" id="field_userPreference" name="userPreference" [(ngModel)]="lastConnection.userPreferenceId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userPreferenceOption.id" *ngFor="let userPreferenceOption of userandpreferences; trackBy: trackUserPreferenceById">{{userPreferenceOption.numCompteExterne}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
